body {
    background: #2A2D3C;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
section {
    padding: 100px 0;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    background: #2A2D3C;
    margin: auto;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: white;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #ffff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

.home{
    display: flex;
    height: 100vh;
    color: #2A2D3C;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    width: 100%;
    display: flex;
}
.home .max-width .row{
    margin-right: 0;
}
.home .home-content .text-1 span{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    color: crimson;
}
#home {
    height: 600px;
    background-color: #2A2D3C;
  }
  
  #aboutme {
    height: 600px;
    background-color: #2A2D3C;
  }
  
  #skills {
    height: 600px;
    background-color: #2A2D3C;
  }
  
  #things {
    height: 600px;
    background-color: #2A2D3C;
  }kk
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
}
h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: 24pt;
    color: #ffff;
}
h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: 24pt;
    color: #ffff;
}
hr {
    height: 2px;
    color: #ffff;
}
p {
    font-family:"Calibri";
    font-size: 16pt;
    text-align: left;
    text-indent: 48px;
    color: #ffff;
}