body {
    background: #2A2D3C;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
.max-width {
    max-width: 1200px;
    padding: 0 80px;
    background: #2A2D3C;
    margin: auto;
}

#home {
    height: 600px;
    background-color: #2A2D3C;
  }
  
  #aboutme {
    height: 600px;
    background-color: #2A2D3C;
  }
  
  #skills {
    height: 600px;
    background-color: #2A2D3C;
  }
  
  #things {
    height: 600px;
    background-color: #2A2D3C;
  }kk
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
}
h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: 24pt;
    color: #ffff;
}
h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: 24pt;
    color: #ffff;
}
hr {
    height: 2px;
    color: #ffff;
}
p {
    font-family:"Calibri";
    font-size: 16pt;
    text-align: left;
    text-indent: 48px;
    color: #ffff;
}